<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2 style="color: rgba(224, 15, 15, 0.849);">Error: <%= error.message %></h2>
    <p style="color: rgb(114, 42, 42);">Status: <%= error.status %></p>
    <p style="color: rgb(230, 104, 104);width: 50%;"><%= error.stack %></p>
</body>
</html>
